/* Mobile + tablet */
@media (max-width: 1023px){
    :root{
        --header-height: 86px;
        --navbar-height:0px;
    }
    .hide-on-mobile-tablet{
        display: none;
    }
    .header{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
    }
    .header__sort-bar{
        display: flex;
    }

    .mobile__category{
        display: block;
    }
    .header__cart-list{
        position: fixed;
        top: var(--header-height);
        right: 0;
        width: 100%;
        padding:0 calc((100% - 644px)/2);
    }
    .header__cart-list::after{
        top: -32px;
        right: 82px;
    }
    .app_container{
        margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
    }
    .header__mbsearch-icon{
        display: none;
    }
}

/* Tablet */
@media(min-width: 740px) and (max-width: 1023px){
    .hide-on-tablet{
        display: none;
    }
    .header__cart{
        width: 75px;
        text-align: right;
    }
    
    .header__cart-notice{
        top: -53%;
        right: 20%;
    }
}

/* Mobile */
@media (max-width: 739px){
    .hide-on-mobile{
        display: none;
    }
    
    .header__search-inp{
        position: fixed;
        top: var(--header-height);
        left: 0;
        right: 0;
        z-index: 1;
        padding: 0 8px;
        animation: searchMB linear 0.1s;
        display: none; 
    }
   
    @keyframes searchMB {
        0%{
            top: calc(var(--header-height)/2);
            opacity: 0;
        }
        100%{
            top: var(--header-height);
            opacity: 1;
        }
    }
    .home-product__paganation{
        margin: 16px 0 16px;
        padding-left: 0;
    }
    .home-product__paganation .pagination-item{
        margin: 24px 0 16px;
    }
    .header__search{
        justify-content: space-between;
    }
    .header__logo{
        width: 120px;
        position: absolute;
        left: 33%;
    }
    .header__cart{
        width: 60px;
    }
    .header__cart-list{
        box-shadow: 0 1px 2px #ccc;
    }
    .header__cart-list::after{
        top: -32px;
        right: 12px;
    }
    .header__cart-notice{
        top: -53%;
        right: 10%;
    }
    .app-content{
        margin: 0 4px;
    }
    .footer .grid{
        margin: 0 16px;
    }
}